html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ''; }

input, textarea, a, button, select {
  border: none;
  padding: 0; }
  input:focus, textarea:focus, a:focus, button:focus, select:focus {
    outline: 0; }

a:hover {
  text-decoration: none; }

ins {
  text-decoration: none; }

del, s, strike {
  text-decoration: line-through; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

article, aside, details, figcaption, figure, fieldset, footer, header, hgroup, main, nav, section, summary {
  display: block;
  margin: 0; }

ul, ol {
  list-style: none;
  padding: 0; }

textarea {
  resize: none; }

@font-face {
  font-family: "QuattrocentoSans";
  font-weight: bold;
  src: url("font/QuattrocentoSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "QuattrocentoSans";
  font-style: italic;
  font-weight: bold;
  src: url("font/QuattrocentoSans-BoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: "QuattrocentoSans";
  font-style: italic;
  font-weight: regular;
  src: url("font/QuattrocentoSans-Italic.ttf") format("truetype"); }
@font-face {
  font-family: "QuattrocentoSans";
  font-weight: regular;
  src: url("font/QuattrocentoSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "LibreBaskerville";
  font-weight: bold;
  src: url("font/LibreBaskerville-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "LibreBaskerville";
  font-style: italic;
  font-weight: regular;
  src: url("font/LibreBaskerville-Italic.ttf") format("truetype"); }
@font-face {
  font-family: "LibreBaskerville";
  font-weight: regular;
  src: url("font/LibreBaskerville-Regular.ttf") format("truetype"); }
* {
  font-size: 16px;
  line-height: 1.33;
  font-family: "QuattrocentoSans";
  color: #4a4a4a;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none;
  display: inline-block; }

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-size: 13px;
  float: right;
  margin-left: 16px; }
  @media (max-width: 1024px) {
    .custom-select {
      float: none;
      margin-top: 20px; } }

.custom-select select {
  display: none; }

.select-selected {
  background-color: #fff; }

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: #43484f transparent transparent transparent; }

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px; }

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #43484f;
  padding: 8px 15px 6px;
  border: 1px solid #43484f;
  cursor: pointer; }

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99; }
  .select-items div {
    border-top: 0; }

/*hide the items when the select box is closed:*/
.select-hide {
  display: none; }

.select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1); }

h1 {
  font-size: 96px;
  line-height: 1.08;
  letter-spacing: -0.2px;
  font-family: "LibreBaskerville"; }
  @media (max-width: 1024px) {
    h1 {
      font-size: 50px; } }

h2 {
  font-size: 72px;
  line-height: 1.11;
  letter-spacing: -0.2px;
  font-family: "LibreBaskerville"; }
  @media (max-width: 1024px) {
    h2 {
      font-size: 38px; } }

h3 {
  font-size: 52px;
  line-height: 1.15;
  letter-spacing: -0.1px;
  font-family: "LibreBaskerville"; }
  @media (max-width: 1024px) {
    h3 {
      font-size: 28px; } }

h4 {
  font-size: 32px; }
  @media (max-width: 1024px) {
    h4 {
      font-size: 22px; } }

h5 {
  font-size: 20px; }
  @media (max-width: 1024px) {
    h5 {
      font-size: 18px; } }

.text-uppercase {
  text-transform: uppercase; }

.text-xlarge {
  font-family: "LibreBaskerville";
  font-size: 24px; }
  @media (max-width: 1024px) {
    .text-xlarge {
      font-size: 20px; } }

.text-large {
  font-size: 18px; }
  @media (max-width: 1024px) {
    .text-large {
      font-size: 16px; } }

.text-small {
  font-size: 12px; }

.text-bold {
  font-weight: bold; }

.text-extrabold {
  font-weight: 900; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "LibreBaskerville"; }

.button {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: 1px solid #43484f;
  color: #43484f;
  font-size: 13px;
  text-transform: capitalize;
  padding: 12px 20px;
  box-sizing: border-box;
  min-width: 140px;
  line-height: normal;
  text-align: center; }
  .button.white {
    border: 1px solid #fff;
    color: #fff; }
  .button.full-width {
    width: 100%; }

.burger-button {
  position: fixed;
  top: 14px;
  left: 210px;
  z-index: 4;
  cursor: pointer;
  padding: 28px; }
  @media (max-width: 1024px) {
    .burger-button {
      top: 0;
      left: auto;
      right: 0;
      background: #5f296a; } }

.burger-button span {
  width: 20px;
  border: .8px solid #fff;
  background-color: #fff;
  display: block;
  transition: .5s;
  left: 8px; }
  @media (max-width: 1024px) {
    .burger-button span {
      left: 18px; } }

.burger-button.active span,
.burger-button.black span {
  background-color: #43484f;
  border-color: #43484f; }
  @media (max-width: 1024px) {
    .burger-button.active span,
    .burger-button.black span {
      background-color: #fff;
      border-color: #fff; } }

.burger-top, .burger-bottom {
  position: absolute; }

.burger-top {
  top: 22px; }

.burger-bottom {
  bottom: 22px; }

.burger-button.active .burger-top {
  position: absolute;
  top: 26px;
  transform: rotateZ(45deg); }

.burger-button.active .burger-bottom {
  position: absolute;
  bottom: 28px;
  transform: rotateZ(-45deg); }

.close {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: solid 1px #979797;
  overflow: hidden;
  border-radius: 50%; }
  .close::before, .close::after {
    content: '';
    position: absolute;
    height: 1.3px;
    width: 8.5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #8a8a8a; }
  .close::before {
    transform: translate(-50%, -50%) rotate(45deg); }
  .close::after {
    transform: translate(-50%, -50%) rotate(-45deg); }
  .close.big {
    width: 30px;
    height: 30px; }
    .close.big::before, .close.big::after {
      content: '';
      position: absolute;
      height: 1.4px;
      width: 20px; }

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  margin-right: 16px;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  line-height: 18px;
  display: inline-block;
  color: #43484f; }

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #43484f;
  border-radius: 100%;
  background: #fff;
  box-sizing: border-box; }

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 8px;
  height: 8px;
  background: #43484f;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

[type="radio"]:not(:checked) + label.big-radio,
[type="radio"]:checked + label.big-radio {
  border: solid 1px #d8d8d8;
  text-align: center;
  width: calc(50% - 5px);
  float: left;
  height: 248px;
  padding: 0;
  margin-right: 5px; }
  [type="radio"]:not(:checked) + label.big-radio *,
  [type="radio"]:checked + label.big-radio * {
    color: #000; }
  [type="radio"]:not(:checked) + label.big-radio:last-child,
  [type="radio"]:checked + label.big-radio:last-child {
    margin-right: 0; }
  [type="radio"]:not(:checked) + label.big-radio:before,
  [type="radio"]:checked + label.big-radio:before {
    display: none; }
  [type="radio"]:not(:checked) + label.big-radio img,
  [type="radio"]:checked + label.big-radio img {
    width: 50%;
    max-width: 71px;
    margin-bottom: 30px;
    margin-top: 52px; }
    [type="radio"]:not(:checked) + label.big-radio img.large-image,
    [type="radio"]:checked + label.big-radio img.large-image {
      max-width: 94px;
      margin-top: 39px;
      margin-bottom: 18px; }
  [type="radio"]:not(:checked) + label.big-radio .title,
  [type="radio"]:checked + label.big-radio .title {
    font-family: "LibreBaskerville";
    font-size: 20px;
    width: 100%;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px; }

[type="radio"]:checked + label.big-radio {
  border-color: #4f2c56; }

[type="radio"]:checked + label.big-radio:after {
  display: none; }

.quantity-input input[type=number] {
  width: 32px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.7;
  -webkit-appearance: textfield;
  color: #5f5b60; }
.quantity-input .quantity-button {
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: solid 1.3px #4a4a4a;
  text-align: center;
  line-height: 16px;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-weight: 400; }
.quantity-input input:focus {
  outline: 0; }
.quantity-input input[type=number]::-webkit-inner-spin-button,
.quantity-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.search-container {
  float: left;
  max-width: 280px;
  width: 100%;
  position: relative;
  box-sizing: border-box; }
  .search-container input:not([type=number]) {
    padding: 10px 20px 10px 60px;
    width: 100%;
    max-width: 260px; }
  .search-container .button {
    position: absolute;
    padding: 8px 17px 6px;
    min-width: 48px;
    min-height: 32px;
    top: 0;
    left: 0; }
    .search-container .button img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  @media (max-width: 1024px) {
    .search-container {
      float: none; } }

.footer {
  padding: 110px 0 65px;
  text-align: center; }
  .footer .content {
    margin: 0 auto; }
  .footer .footer-menu li {
    display: inline-block; }
    .footer .footer-menu li a {
      padding: 12px; }
  .footer .subscribe-container {
    margin: 30px auto 0; }
    .footer .subscribe-container .input-container {
      margin-top: 17px;
      max-width: 320px; }
    .footer .subscribe-container span {
      font-family: "LibreBaskerville";
      font-size: 14px; }
  .footer .input-container {
    position: relative;
    display: inline-block;
    margin-left: 24px; }
    .footer .input-container .button {
      position: absolute;
      padding: 8px 11px 6px;
      min-width: 93px;
      top: 0;
      right: 0;
      height: 32px; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.hidden {
  overflow: hidden; }

@media (min-width: 1025px) {
  .hide-md {
    display: none; } }

input:not([type=number]) {
  padding: 8px 93px 8px 16px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  color: #4a4a4a;
  height: 32px;
  background-color: #ffffff;
  border: solid 1px #8a8a8a; }
  input:not([type=number])::placeholder {
    color: #c0b9c1; }

.page-wrapper {
  box-sizing: border-box; }
  .page-wrapper .content {
    padding: 0 31px;
    max-width: 1020px;
    box-sizing: border-box; }
    @media (max-width: 1024px) {
      .page-wrapper .content {
        padding: 0 20px; } }

.section {
  padding-left: 262px;
  box-sizing: border-box; }
  @media (max-width: 1024px) {
    .section {
      padding-left: 0; } }

.home main {
  display: flex;
  justify-content: center;
  align-items: center; }

@media (min-width: 1024px) {
  .welcome__svg {
    height: 638px;
    max-height: calc(100vh - 60px); } }
@media (max-width: 1024px) {
  .welcome__svg svg {
    height: auto; } }

.welcome__button {
  text-align: center; }

.craft-box-content {
  position: absolute;
  display: none;
  left: 22px;
  width: 454px;
  background-color: #ffffff;
  box-shadow: 4px 4px 43px 0 rgba(0, 0, 0, 0.24);
  padding: 30px 40px;
  z-index: 6; }
  .craft-box-content .top-content {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 24px;
    margin-bottom: 24px; }
  .craft-box-content p {
    text-align: right; }
  .craft-box-content table {
    width: 50%;
    float: left;
    box-sizing: border-box; }
    .craft-box-content table th {
      font-size: 14px;
      font-weight: 500;
      color: #43484f;
      padding-top: 16px;
      text-align: left;
      vertical-align: top; }
    .craft-box-content table:nth-child(1) th {
      padding-right: 20px; }
    .craft-box-content table:nth-child(2) th {
      padding-left: 20px; }

.menu {
  border-right: 1px solid #d8d8d8;
  position: fixed;
  top: 0;
  width: 262px;
  bottom: 0;
  left: 0;
  padding: 29px 24px 100px;
  box-sizing: border-box;
  z-index: 3;
  background: #fff;
  transform: translateX(-100%);
  transition: .4s;
  overflow-y: scroll;
  overflow-x: hidden; }
  @media (max-width: 1024px) {
    .menu {
      width: calc(100% - 56px); } }
  .menu.active {
    transform: translateX(0); }
  .menu .logo-cont {
    padding-left: 30px; }
    .menu .logo-cont img {
      width: 128px;
      height: 24px; }
  .menu nav {
    margin-top: 26px;
    padding-left: 30px; }
    .menu nav li {
      list-style: none; }
    .menu nav a {
      display: block;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.33;
      letter-spacing: -0px;
      color: #43484f;
      padding: 8px 0; }
  .menu .shopping-bag-section {
    margin-top: 46px;
    box-sizing: border-box;
    border: 1px solid #d8d8d8;
    border-width: 1px 0; }
    .menu .shopping-bag-section .show-more {
      margin-top: 26px;
      text-decoration: underline; }
      .menu .shopping-bag-section .show-more:hover {
        text-decoration: none; }
    .menu .shopping-bag-section .shopping-container {
      padding-bottom: 36px; }
      .menu .shopping-bag-section .shopping-container .item {
        position: relative;
        margin-top: 24px; }
        .menu .shopping-bag-section .shopping-container .item .quantity {
          opacity: .7;
          font-size: 14px; }
        .menu .shopping-bag-section .shopping-container .item .price {
          margin-top: 7px;
          font-size: 14px; }
          .menu .shopping-bag-section .shopping-container .item .price .coin {
            font-size: 8px;
            line-height: 2.25;
            vertical-align: text-bottom; }
    .menu .shopping-bag-section .name,
    .menu .shopping-bag-section .price,
    .menu .shopping-bag-section .show-more {
      color: #43484f; }
    .menu .shopping-bag-section .shopping-bag {
      padding: 15px 28px;
      position: relative;
      width: 100%;
      box-sizing: border-box; }
      .menu .shopping-bag-section .shopping-bag * {
        vertical-align: middle; }
      .menu .shopping-bag-section .shopping-bag span {
        padding-left: 18px;
        font-size: 13px;
        font-weight: bold; }
      .menu .shopping-bag-section .shopping-bag .number {
        position: absolute;
        font-size: 8px;
        font-weight: bold;
        color: #fff;
        padding: 5px;
        width: 19.5px;
        height: 20px;
        background-color: #3a3f46;
        box-sizing: border-box;
        text-align: center;
        border-radius: 50%;
        left: 38px;
        top: 17px; }
  .menu .socials {
    margin: 35px auto;
    text-align: center; }
    .menu .socials a {
      padding: 13px; }

.page-home .centered-info {
  margin: 0 auto;
  max-width: 470px;
  text-align: center; }
  .page-home .centered-info * {
    color: #fff;
    border-color: #fff; }
  @media (max-width: 1024px) {
    .page-home .centered-info {
      padding: 100px 0; } }
  .page-home .centered-info h1 + h3 {
    margin-top: 31px; }
  .page-home .centered-info h2 + p {
    margin-top: 16px; }
  .page-home .centered-info p + .button {
    margin-top: 23px; }
.page-home .left-part,
.page-home .right-part {
  float: left;
  width: 50%; }
  @media (max-width: 1024px) {
    .page-home .left-part,
    .page-home .right-part {
      float: none;
      width: 100%; } }
.page-home .right-part {
  min-height: 100vh; }
  @media (max-width: 1024px) {
    .page-home .right-part {
      height: 300px;
      min-height: 0; } }
.page-home .top-info {
  padding: 40px 0;
  color: #43484f;
  max-width: 360px; }
  .page-home .top-info h3 {
    line-height: 1.69; }
  .page-home .top-info p {
    line-height: 1.5; }
  .page-home .top-info p + .button {
    margin-top: 57px; }
    @media (max-width: 1024px) {
      .page-home .top-info p + .button {
        margin-top: 30px; } }
  .page-home .top-info h4 + p {
    margin-top: 30px; }
  .page-home .top-info .event-block {
    margin-top: 40px; }
    .page-home .top-info .event-block span + p {
      margin-top: 4px; }
    .page-home .top-info .event-block span {
      display: block;
      font-weight: bold; }
    .page-home .top-info .event-block .button {
      float: left;
      margin-top: 12px;
      margin-right: 16px; }
  .page-home .top-info .event-block + .event-block {
    margin-top: 35px; }
  .page-home .top-info .event-block + .button {
    margin-top: 64px; }
.page-home.hero-screen .centered-info {
  max-width: 710px; }
.page-home .with-padding-right {
  padding-right: 116px; }
  @media (max-width: 1024px) {
    .page-home .with-padding-right {
      padding-right: 20px; } }
.page-home .img-containers {
  padding: 100px 0; }
  @media (max-width: 1024px) {
    .page-home .img-containers {
      padding: 0 0 50px; } }
  .page-home .img-containers .image-block {
    text-align: center;
    position: relative;
    cursor: pointer;
    float: left;
    width: 36%;
    box-sizing: border-box;
    padding: 0 10px; }
    @media (max-width: 1024px) {
      .page-home .img-containers .image-block {
        width: 50%;
        padding: 0 10px;
        float: left;
        margin-top: 20px; } }
    @media (max-width: 480px) {
      .page-home .img-containers .image-block {
        width: 100%;
        float: none;
        padding: 0; } }
    .page-home .img-containers .image-block img {
      width: 100%;
      float: left; }
      @media (max-width: 1024px) {
        .page-home .img-containers .image-block img {
          float: none; } }
    .page-home .img-containers .image-block:first-child {
      padding-left: 0; }
    .page-home .img-containers .image-block:nth-child(2) {
      transform: translateY(-50%); }
      @media (max-width: 1024px) {
        .page-home .img-containers .image-block:nth-child(2) {
          transform: translateY(0); } }
    .page-home .img-containers .image-block:last-child {
      padding-right: 0;
      transform: translateY(-50%); }
      @media (max-width: 1024px) {
        .page-home .img-containers .image-block:last-child {
          transform: translateY(0); } }
    .page-home .img-containers .image-block.vertical {
      width: 28%; }
      @media (max-width: 1024px) {
        .page-home .img-containers .image-block.vertical {
          width: 50%; } }
      @media (max-width: 480px) {
        .page-home .img-containers .image-block.vertical {
          width: 100%;
          float: none; } }
    .page-home .img-containers .image-block span {
      display: inline-block;
      opacity: 0;
      position: absolute;
      padding: 0 40px;
      box-sizing: border-box;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      font-weight: bold;
      letter-spacing: -0.1px;
      color: #fbf8f8;
      z-index: 2; }
      @media (max-width: 1024px) {
        .page-home .img-containers .image-block span {
          opacity: 1;
          position: static;
          color: #4a4a4a;
          margin: 15px 0 0; } }
    @media (min-width: 1025px) {
      .page-home .img-containers .image-block:hover span {
        opacity: 1; }
      .page-home .img-containers .image-block:hover:before {
        content: "";
        position: absolute;
        top: 0;
        left: 10px;
        bottom: 0;
        right: 10px;
        background-image: linear-gradient(to bottom, rgba(100, 105, 114, 0.6), rgba(52, 56, 62, 0.76));
        z-index: 1; }
      .page-home .img-containers .image-block:hover:first-child:before {
        left: 0;
        right: 10px; }
      .page-home .img-containers .image-block:hover:last-child:before {
        left: 10px;
        right: 0; } }
.page-home .link-block {
  position: relative;
  width: 33.3%;
  float: left;
  color: #43484f;
  min-height: 100vh;
  cursor: pointer; }
  @media (max-width: 1024px) {
    .page-home .link-block {
      float: none;
      width: 100%;
      padding: 40px 0;
      box-sizing: border-box;
      color: #fff;
      min-height: 0;
      height: 33.333vh; } }
  .page-home .link-block .link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: #fcfcfc; }
    @media (max-width: 1024px) {
      .page-home .link-block .link {
        background: linear-gradient(to bottom, rgba(76, 73, 69, 0), #161515); } }
  @media (min-width: 1025px) {
    .page-home .link-block:hover .text-block * {
      color: #fff; }
    .page-home .link-block:hover .link {
      background: linear-gradient(to bottom, rgba(76, 73, 69, 0), #161515); } }
  .page-home .link-block .text-block {
    padding: 20px 60px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    font-weight: bold; }

.scroll-indicator-container {
  bottom: 20px;
  top: auto !important;
  left: auto !important;
  right: 20px !important;
  width: 30px;
  cursor: pointer; }
  .scroll-indicator-container span {
    font-size: 9px;
    transform: rotate(90deg) translateY(-15%);
    display: inline-block;
    margin: 10px 0;
    bottom: 110%;
    color: #fff; }
    .scroll-indicator-container span:after {
      content: "";
      color: cyan;
      mix-blend-mode: difference; }
  .scroll-indicator-container .white-fill {
    fill: #fff; }
  .scroll-indicator-container .white-stroke {
    stroke: #fff; }
  .scroll-indicator-container .on-white span {
    color: #4a4a4a; }
  .scroll-indicator-container .on-white .white-fill {
    fill: #4a4a4a; }
  .scroll-indicator-container .on-white .white-stroke {
    stroke: #4a4a4a; }

.delete-button {
  cursor: pointer;
  padding: 6px;
  position: absolute;
  right: 10px;
  top: -6px; }

@media (max-width: 1024px) {
  .page-home #fp-nav {
    display: none; } }
.page-home #fp-nav ul li a span,
.page-home .fp-slidesNav ul li a span {
  border-radius: 0;
  width: 4px;
  height: 4px;
  border: 1px solid #fff;
  transform: rotate(45deg);
  opacity: 0.5;
  background-color: #fff;
  margin: 5px 0 0 -2px; }
.page-home #fp-nav ul li,
.page-home .fp-slidesNav ul li {
  width: 22px;
  height: 22px;
  margin: 7px; }
.page-home #fp-nav ul li a.active span,
.page-home .fp-slidesNav ul li a.active span,
.page-home #fp-nav ul li:hover a.active span,
.page-home .fp-slidesNav ul li:hover a.active span {
  width: 14px;
  height: 14px;
  background: transparent;
  border-radius: 0;
  margin: 0 0 0 -7px; }
.page-home #fp-nav ul li:hover a span, .page-home .fp-slidesNav ul li:hover a span {
  margin: 2px 0 0 -5px; }
.page-home #fp-nav ul li, .page-home .fp-slidesNav ul li {
  position: inherit; }
.page-home #fp-nav ul li .fp-tooltip,
.page-home .divider,
.page-home .all {
  display: none;
  top: -20px;
  font-family: "LibreBaskerville";
  opacity: 0.5;
  font-size: 18px;
  font-style: italic;
  color: #fff; }
.page-home .divider,
.page-home .all {
  display: block;
  position: absolute; }
.page-home .divider {
  top: -13px;
  left: 15px; }
.page-home .all {
  top: -5px;
  left: 20px; }
.page-home #fp-nav ul li a.active + .fp-tooltip {
  display: block; }
@media (min-width: 1025px) {
  .page-home.fp-viewing-1 .burger-button span, .page-home.fp-viewing-6 .burger-button span {
    border-color: #43484f;
    background-color: #43484f; }
  .page-home.fp-viewing-1 .burger-button.active span, .page-home.fp-viewing-6 .burger-button.active span {
    background-color: #43484f;
    border-color: #43484f; }
  .page-home.fp-viewing-1 #fp-nav ul li a span,
  .page-home.fp-viewing-1 .fp-slidesNav ul li a span, .page-home.fp-viewing-6 #fp-nav ul li a span,
  .page-home.fp-viewing-6 .fp-slidesNav ul li a span {
    background-color: #000000;
    border-color: #000; }
  .page-home.fp-viewing-1 #fp-nav ul li .fp-tooltip,
  .page-home.fp-viewing-1 .divider,
  .page-home.fp-viewing-1 .all, .page-home.fp-viewing-6 #fp-nav ul li .fp-tooltip,
  .page-home.fp-viewing-6 .divider,
  .page-home.fp-viewing-6 .all {
    color: #000; }
  .page-home.fp-viewing-1 #fp-nav ul li a.active span,
  .page-home.fp-viewing-1 .fp-slidesNav ul li a.active span,
  .page-home.fp-viewing-1 #fp-nav ul li:hover a.active span,
  .page-home.fp-viewing-1 .fp-slidesNav ul li:hover a.active span, .page-home.fp-viewing-6 #fp-nav ul li a.active span,
  .page-home.fp-viewing-6 .fp-slidesNav ul li a.active span,
  .page-home.fp-viewing-6 #fp-nav ul li:hover a.active span,
  .page-home.fp-viewing-6 .fp-slidesNav ul li:hover a.active span {
    background: transparent; }
  .page-home.fp-viewing-5 .burger-button span, .page-home.fp-viewing-6 .burger-button span {
    border-color: #43484f;
    background-color: #43484f; }
  .page-home.fp-viewing-5 .burger-button.active span, .page-home.fp-viewing-6 .burger-button.active span {
    background-color: #43484f;
    border-color: #43484f; }
  .page-home #fp-nav ul li:first-child {
    display: none; }
  .page-home.fp-viewing-0 #fp-nav {
    display: none; } }
.page-home.fp-viewing-6 .scroll-indicator-container {
  display: none; }

.page-all-candies .search-container {
  margin-top: 40px; }
.page-all-candies .hero-screen {
  position: relative;
  background: #4f2c56;
  padding-bottom: 45%; }
  .page-all-candies .hero-screen h2 {
    position: absolute;
    top: 50%;
    left: 361px;
    transform: translateY(-50%);
    color: #fff; }
    @media (max-width: 1024px) {
      .page-all-candies .hero-screen h2 {
        left: 20px; } }
.page-all-candies .section-title {
  display: block;
  text-align: left; }
.page-all-candies .popular-section {
  position: relative;
  text-align: center;
  padding-bottom: 64px;
  margin-top: 47px; }
  .page-all-candies .popular-section:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    border: solid 1px #8a8a8a; }
  .page-all-candies .popular-section:last-of-type:before {
    display: none; }
.page-all-candies .popular-section + .popular-section {
  margin-top: 21px; }
.page-all-candies .poster {
  position: relative;
  width: 50%;
  float: left;
  padding-bottom: 43%;
  box-sizing: border-box; }
  .page-all-candies .poster:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4); }
  @media (max-width: 768px) {
    .page-all-candies .poster {
      width: 100%;
      float: none;
      padding-bottom: 0; } }
  .page-all-candies .poster .info {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    z-index: 2; }
    @media (max-width: 768px) {
      .page-all-candies .poster .info {
        position: relative; } }
  .page-all-candies .poster span {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "LibreBaskerville"; }
  .page-all-candies .poster p {
    margin-top: 12px; }
  .page-all-candies .poster .button {
    margin-top: 24px; }
  .page-all-candies .poster * {
    color: #fff; }

.product-line {
  margin-left: -15px;
  width: calc(100% + 30px); }

.product-container {
  width: 25%;
  float: left;
  text-align: center;
  padding: 0 15px;
  color: #43484f;
  box-sizing: border-box; }
  @media (max-width: 768px) {
    .product-container {
      width: 50%; } }
  .product-container .product-container-image {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-top: 27px; }
    .product-container .product-container-image:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(79, 44, 86, 0.6);
      visibility: hidden; }
    .product-container .product-container-image span {
      opacity: 1;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      font-family: "LibreBaskerville";
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      z-index: 1;
      visibility: hidden; }
  .product-container .info-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    color: #4f2c56;
    border: 1px solid #4f2c56;
    font-family: "LibreBaskerville";
    border-radius: 50%;
    width: 17px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    cursor: pointer; }
    .product-container .info-button:hover {
      border-color: #fff;
      color: #fff; }
  .product-container .product-container-image.added:before {
    visibility: visible; }
  .product-container .product-container-image.added span {
    visibility: visible; }
  .product-container .product-container-image.added .info-button {
    border-color: #fff;
    color: #fff; }
  .product-container .quantity-input {
    margin-top: 13px; }
  .product-container a {
    margin-top: 18px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    width: 100%;
    font-family: "LibreBaskerville"; }
  .product-container span {
    margin-top: 9px;
    opacity: 0.7;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: #4a4a4a; }
    .product-container span.old {
      color: #f15669;
      text-decoration: line-through; }
  .product-container .note {
    display: inline-block;
    width: 100%;
    opacity: 1;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: #43484f; }
    .product-container .note.red-text {
      color: #f15669; }

.product-line + .button {
  margin-top: 28px; }

.with-right-menu {
  position: relative;
  padding-right: 275px;
  margin-top: 30px; }
  @media (max-width: 1024px) {
    .with-right-menu {
      padding-right: 0; } }

.shop-page.with-right-menu {
  position: relative;
  padding-right: 275px;
  margin-top: 30px; }
  @media (max-width: 1024px) {
    .shop-page.with-right-menu {
      padding-right: 0; } }
  .shop-page.with-right-menu .js-close-categories {
    position: absolute;
    top: 15px;
    right: 15px; }
  .shop-page.with-right-menu .categories-mobile {
    margin-top: 20px; }
    .shop-page.with-right-menu .categories-mobile p {
      float: left; }
    .shop-page.with-right-menu .categories-mobile .open-selection {
      float: right;
      cursor: pointer; }
      .shop-page.with-right-menu .categories-mobile .open-selection * {
        vertical-align: middle; }
  .shop-page.with-right-menu .categories {
    position: absolute;
    right: 0;
    top: 0;
    padding: 23px 33px 25px 15px;
    border: 1px solid #d8d8d8;
    border-width: 1px 0;
    margin-top: 60px;
    width: 235px;
    box-sizing: border-box;
    background: #fff; }
    @media (max-width: 1024px) {
      .shop-page.with-right-menu .categories {
        transform: translateX(120%);
        transition: .6s;
        text-align: center;
        z-index: 5;
        padding: 33px;
        position: fixed;
        margin-top: 0;
        margin-top: 0;
        width: calc(100% - 56px); }
        .shop-page.with-right-menu .categories.opened {
          transform: translateX(0);
          border-width: 0; } }
    .shop-page.with-right-menu .categories p {
      margin-top: 23px; }
    .shop-page.with-right-menu .categories ul {
      margin-top: 10px; }
      .shop-page.with-right-menu .categories ul li {
        cursor: pointer;
        margin-top: 8px;
        position: relative; }
        @media (max-width: 1024px) {
          .shop-page.with-right-menu .categories ul li {
            padding: 8px 0; } }
        .shop-page.with-right-menu .categories ul li span {
          position: relative; }
        .shop-page.with-right-menu .categories ul li.active span:before {
          content: "";
          position: absolute;
          top: 50%;
          margin-top: -1px;
          left: 100%;
          margin-left: 17px;
          width: 33px;
          height: 1px;
          background-color: #000000; }
        @media (max-width: 1024px) {
          .shop-page.with-right-menu .categories ul li.active span:after {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -1px;
            right: 100%;
            margin-right: 17px;
            width: 33px;
            height: 1px;
            background-color: #000000; } }

.inside-page {
  margin-top: 66px; }
  .inside-page .burger-button span {
    border-color: #43484f;
    background-color: #43484f; }
    @media (max-width: 1024px) {
      .inside-page .burger-button span {
        border-color: #fff;
        background-color: #fff; } }

.product-page .product-info .product-images,
.product-page .product-info .product-description {
  width: 50%;
  float: left;
  box-sizing: border-box; }
  @media (max-width: 767px) {
    .product-page .product-info .product-images,
    .product-page .product-info .product-description {
      width: 100%;
      float: none; } }
.product-page .product-info .product-description {
  padding-left: 55px; }
  @media (max-width: 767px) {
    .product-page .product-info .product-description {
      padding-left: 0;
      margin-top: 30px; } }
  .product-page .product-info .product-description h4 + p {
    margin-top: 10px;
    line-height: 1.5;
    color: #8a8a8a; }
  .product-page .product-info .product-description table {
    width: 100%; }
    .product-page .product-info .product-description table .custom-select {
      margin: 0;
      float: none;
      width: 100% !important; }
    .product-page .product-info .product-description table tr {
      vertical-align: middle;
      text-align: left; }
      .product-page .product-info .product-description table tr th {
        vertical-align: middle;
        padding-top: 20px;
        font-size: 14px; }
      .product-page .product-info .product-description table tr th:nth-child(2n) {
        padding-left: 35px; }
      .product-page .product-info .product-description table tr th:nth-child(2n+1) * {
        font-family: "LibreBaskerville"; }
  .product-page .product-info .product-description .price {
    font-size: 24px;
    font-weight: bold;
    line-height: 2.33;
    font-family: "LibreBaskerville"; }
    .product-page .product-info .product-description .price .small {
      font-size: 14px;
      font-weight: bold;
      line-height: 18px;
      vertical-align: text-top;
      margin-left: -7px; }
  .product-page .product-info .product-description .button {
    float: right; }
.product-page .product-info .product-images .small,
.product-page .product-info .product-images .large {
  float: left;
  box-sizing: border-box; }
.product-page .product-info .product-images .small {
  width: 20%;
  padding-right: 7px; }
  .product-page .product-info .product-images .small .tile {
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 7px;
    cursor: pointer;
    position: relative; }
    .product-page .product-info .product-images .small .tile.active:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      opacity: 0.6;
      background-color: #4f2c56; }
.product-page .product-info .product-images .large {
  position: relative;
  width: 79%;
  padding-bottom: 79%; }
  .product-page .product-info .product-images .large .tile {
    cursor: zoom-in;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: .4s; }
    .product-page .product-info .product-images .large .tile.active {
      opacity: 1;
      visibility: visible; }
.product-page .other-products {
  margin-top: 56px;
  text-align: center; }
  .product-page .other-products .swiper-container {
    position: relative;
    margin: 0 auto; }
    .product-page .other-products .swiper-container .swiper-wrapper {
      max-width: 516px;
      margin: 0 auto; }
    .product-page .other-products .swiper-container .product-container {
      width: 33%; }
      @media (max-width: 767px) {
        .product-page .other-products .swiper-container .product-container {
          width: 50%; } }
  .product-page .other-products .swiper-button-prev,
  .product-page .other-products .swiper-button-next {
    left: 0;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer; }
    @media (max-width: 767px) {
      .product-page .other-products .swiper-button-prev,
      .product-page .other-products .swiper-button-next {
        display: none; } }
    .product-page .other-products .swiper-button-prev:before,
    .product-page .other-products .swiper-button-next:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: rotate(45deg);
      border: solid 1px #43484f; }
    .product-page .other-products .swiper-button-prev:after,
    .product-page .other-products .swiper-button-next:after {
      content: "";
      border: solid #43484f;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 3px;
      transform: translate(-50%, -50%) rotate(135deg);
      top: 50%;
      left: 50%;
      position: absolute; }
  .product-page .other-products .swiper-button-next {
    right: 0;
    left: auto; }
    .product-page .other-products .swiper-button-next:after {
      transform: translate(-50%, -50%) rotate(-45deg); }
.product-page .get-started-link-section {
  text-align: center;
  max-width: 484px;
  margin: 45px auto 10px;
  border: solid 1px #d8d8d8;
  padding: 30px;
  box-sizing: border-box; }
  .product-page .get-started-link-section .button {
    margin-top: 20px; }

.build-box-page .general-info p {
  margin-top: 23px; }
.build-box-page .general-info span.text-xlarge {
  display: inline-block;
  width: 100%;
  margin-top: 46px; }
.build-box-page .general-info .steps {
  margin-top: 25px; }
  .build-box-page .general-info .steps .step {
    box-sizing: border-box;
    max-width: 33%;
    position: relative;
    float: left;
    padding-right: 73px; }
    .build-box-page .general-info .steps .step i {
      font-family: "LibreBaskerville"; }
    .build-box-page .general-info .steps .step:after {
      content: "";
      border: solid #43484f;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 8px;
      transform: rotate(-45deg);
      top: 14px;
      right: 32px;
      position: absolute; }
    .build-box-page .general-info .steps .step:last-child:after {
      display: none; }
.build-box-page .choose-box-section {
  margin-top: 45px; }
  .build-box-page .choose-box-section span.text-xlarge {
    display: inline-block;
    width: 100%;
    margin-bottom: 32px; }
.build-box-page .choose-chocolates-section .filters-container {
  margin-top: 64px; }
.build-box-page .choose-chocolates-section span.text-xlarge {
  display: inline-block;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 32px; }
.build-box-page .chocolates-section {
  position: relative; }

/*# sourceMappingURL=main.css.map */
