//________________________________________________________________________________________________________________
//____________________________________________      SEARCH-CONTAINER       _______________________________________
//________________________________________________________________________________________________________________


.search-container {
  float: left;
  max-width: 280px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  input:not([type=number]) {
    padding: 10px 20px 10px 60px;
    width: 100%;
    max-width: 260px;
  }
  .button {
    position: absolute;
    padding: 8px 17px 6px;
    min-width: 48px;
    min-height: 32px;
    top: 0;
    left: 0;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  @media (max-width: 1024px) {
    float: none;
  }
}